<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
</head>
<body style="overflow:hidden;">
<div  th:fragment="footer" >


    <div class="container" style="width: 100%">
        <div class="row clearfix">
            <div class="col-md-12 column" align="center">

                            <div class="jumbotron">
                                <h1>
                                    大橡皮正在搭建中~~~~~~
                                </h1>
                                <p>
                                    别急啊，慢慢来把。。。。。
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-large"  href="http://bigrubber.cn">Learn more</a>
                                </p>
                            </div>


               
            </div>
        </div>
    </div>









</div>

</body>
</html>