<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link href="../static/person_page/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/person_page/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="../static/person_page/css/style1.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <!--<link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'> -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="../static/person_page/js/move-top.js"></script>
    <script type="text/javascript" src="../static/person_page/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->

<body>
<!--header-->

<!-- 介绍-->

<!-- container -->
<!-- header -->
<div id="home" class="header">
    <div class="container">
        <!-- top-hedader -->
        <div class="top-header">
            <!-- /logo -->
            <!--top-nav---->
            <div class="top-nav">
                <div class="navigation">
                    <div class="logo">
                        <h1><a href="#"><span>The</span>person</a></h1>
                    </div>
                    <div class="navigation-right">
                        <span class="menu"><img src="../static/person_page/images/menu.png" alt=" " /></span>
                        <nav class="link-effect-3" id="link-effect-3">
                            <ul class="nav1 nav nav-wil">
                                <li class="active"><a  href="/sign/main">首页</a></li>
                                <li><a class="scroll"  href="#">About</a></li>
                                <li><a class="scroll"  href="#" >Services</a></li>
                                <li><a class="scroll"  href="#">Experience</a></li>
                                <li><a class="scroll"  href="#">Portfolio</a></li>
                                <li><a class="scroll"  href="#">Blog</a></li>
                                <li><a  href="/index/person_change">Change</a></li>
                            </ul>
                        </nav>
                        <!-- script-for-menu -->
                        <script>
                            $( "span.menu" ).click(function() {
                                $( "ul.nav1" ).slideToggle( 300, function() {
                                    // Animation complete.
                                });
                            });
                        </script>
                        <!-- /script-for-menu -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /top-hedader -->
            </div>
            <div class="banner-info">
                <div class="col-md-7 header-right">
                    <h1>Hi !</h1>
                    <h6>UX & UI DESIGNER</h6>
                    <ul class="address">

                        <li>
                            <ul class="address-text">
                                <li><b>NAME</b></li>
                                <li><p th:text="${userX.getName()}"> </p></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>JOB</b></li>
                                <li><p th:text="${mymessage.getJob()}"> </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>PHONE </b></li>
                                <li><p th:text="${mymessage.getPhone()}"><li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>ADDRESS </b></li>
                                <li><p th:text="${mymessage.getAddress()}"></li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>E-MAIL </b></li>
                                <li><p th:text="${mymessage.getMail()}"></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="col-md-5 header-left">
                    <img src="../static/person_page/images/img1.jpg" alt="">
                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
    </div>
</div>



<!--注脚-->

<div class="container" th:replace="footer::footer"></div>

</body>
</html>